In [1]:
import requests
import pandas as pd

In [48]:
url= 'https://wmeng.exchanger.ru/asp/XMLWMList.asp?exchtype=34'
r = requests.get(url)

In [49]:
import xml.etree.ElementTree as ET
import io

In [50]:
xml_data = io.StringIO(r.text)
etree = ET.parse(xml_data)

In [51]:
parsed= etree.getroot()

In [52]:
amountin= []
amountout=[]
inoutrate=[] 
outinrate=[] 
procentbankrate=[]
allamountin=[]
querydate=[]
for info in parsed[1]:
    amountin.append(info.attrib.get('amountin'))
    amountout.append(info.attrib.get('amountout'))
    inoutrate.append(info.attrib.get('inoutrate'))
    outinrate.append(info.attrib.get('outinrate'))
    procentbankrate.append(info.attrib.get('procentbankrate'))
    allamountin.append(info.attrib.get('allamountin'))
    querydate.append(info.attrib.get('querydate'))

In [55]:
dic= {'WMX': amountin, 'WMZ': amountout, 'WMX/WMZ': inoutrate, 'WMX/WMZ': outinrate, 'procentbankrate': procentbankrate, 'allamountin': allamountin, 'querydate':querydate}
BTCUSC= pd.DataFrame(dic)
BTCUSC.set_index('querydate', inplace= True)

In [56]:
BTCUSC

                          WMX WMX/WMZ        WMZ allamountin procentbankrate
querydate
26.04.2018 11:02:34     124,6  8,8083    1097,52       124,6           -0,77
26.04.2018 10:53:07      2,14  8,8084      18,85      126,74           -0,76
26.04.2018 11:00:23     11,34  8,8086      99,89      138,08           -0,76
26.04.2018 10:57:29   6562,79  8,8095    57814,9     6700,87           -0,75
26.04.2018 10:12:36         1    8,81       8,81     6701,87           -0,75
26.04.2018 11:00:04      12,4  8,8137     109,29     6714,27           -0,71
26.04.2018 10:56:34   2557,64   8,814   22543,04     9271,91            -0,7
26.04.2018 10:52:54    109,52   8,814     965,31     9381,43            -0,7
26.04.2018 10:09:33    284,18  8,8188    2506,13     9665,61           -0,65
26.04.2018 11:02:31      3,87  8,8191      34,13     9669,48           -0,64
26.04.2018 10:15:51     92,14  8,8201     812,68     9761,62           -0,63
26.04.2018 10:11:31      1000  8,8205     8820,5    10761,62           -0,63
26.04.2018 10:56:27     11,89  8,8368     105,07    10773,51           -0,45
26.04.2018 10:50:41       500  8,8371    4418,55    11273,51           -0,44
26.04.2018 09:50:21      7,22  8,8407      63,83    11280,73            -0,4
26.04.2018 10:12:37    164,06  8,8601    1453,58    11444,79           -0,18
26.04.2018 10:57:44     18,37  8,8998     163,49    11463,16           +0,26
26.04.2018 08:31:00        30     8,9        267    11493,16           +0,27
26.04.2018 10:34:49     99,65  8,9001     886,89    11592,81           +0,27
26.04.2018 10:43:25    130,47  8,9624    1169,32    11723,28           +0,97
26.04.2018 08:56:30    242,59   8,966    2175,07    11965,87           +1,01
26.04.2018 10:19:13       1,2  8,9917      10,79    11967,07            +1,3
26.04.2018 10:57:53     70,16   8,999     631,37    12037,23           +1,38
26.04.2018 01:02:31    253,36  8,9999    2280,22    12290,59           +1,39
25.04.2018 20:39:46    135,41       9    1218,69       12426           +1,39
25.04.2018 20:55:04        29       9        261       12455           +1,39
26.04.2018 03:57:32     46,11  9,1002     419,61    12501,11           +2,52
26.04.2018 08:04:06    112,28  9,1006    1021,82    12613,39           +2,53
25.04.2018 20:33:50     97,51  9,1231     889,59     12710,9           +2,78
26.04.2018 01:37:57     18,14  9,1808     166,54    12729,04           +3,43
...                       ...     ...        ...         ...             ...
25.04.2018 10:51:59    163,89  9,3363    1530,13    26439,72           +5,18
26.04.2018 10:17:50    404,07  9,3427    3775,11    26843,79           +5,25
25.04.2018 20:47:42      7944  9,3428   74219,21    34787,79           +5,26
25.04.2018 19:21:04      29,5  9,3898        277    34817,29           +5,79
26.04.2018 09:48:53     23,58  9,3991     221,63    34840,87           +5,89
25.04.2018 23:44:18     10,66  9,3996      100,2    34851,53            +5,9
25.04.2018 20:42:31  15268,61  9,3999  143523,41    50120,14            +5,9
25.04.2018 22:48:23       634     9,4     5959,6    50754,14            +5,9
25.04.2018 11:12:05        70     9,4        658    50824,14            +5,9
25.04.2018 12:01:19     20000     9,4     188000    70824,14            +5,9
25.04.2018 19:14:45        15     9,4        141    70839,14            +5,9
25.04.2018 11:57:08        10    9,41       94,1    70849,14           +6,01
25.04.2018 17:09:45        20    9,41      188,2    70869,14           +6,01
25.04.2018 19:20:33     17,28  9,4329        163    70886,42           +6,27
26.04.2018 10:40:00     29,64  9,4467        280    70916,06           +6,43
25.04.2018 14:24:38    400,74    9,45       3787     71316,8           +6,46
25.04.2018 06:04:48    361,71  9,4681    3424,69    71678,51           +6,67
24.04.2018 22:40:32     17,58   9,471      166,5    71696,09            +6,7
25.04.2018 11:57:08      9,57  9,4713      90,64    71705,66            +6,7
23.04.2018 12:08:33     10,74  9,4972        102     71716,4              +7
27.03.2018 22:48:43       100     9,5        950     71816,4           +7,03
24.04.2018 23:21:56        20     9,5        190     71836,4           +7,03
25.04.2018 06:44:15         9     9,5       85,5     71845,4           +7,03
23.04.2018 02:38:45         1     9,5        9,5     71846,4           +7,03
24.04.2018 17:57:07       100     9,5        950     71946,4           +7,03
25.04.2018 08:11:41     27,78     9,5     263,91    71974,18           +7,03
25.04.2018 15:17:06         4     9,5         38    71978,18           +7,03
24.04.2018 19:09:27      1,75  9,5029      16,63    71979,93           +7,06
26.04.2018 10:40:00     12,36  9,5243     117,72    71992,29            +7,3
25.04.2018 22:51:07  15340,75  9,5274  146157,47    87333,04           +7,34

[75 rows x 5 columns]